<!DOCTYPE html>
<html lang="en">
  <head>
	<script src="bower_components/platform/platform.js"></script>
    	<link rel="import" href="chart-line.html">
  </head>
  <body>

     <post-service id="service" posts="{{posts}}"></post-service>
    <chart-line width="400"
                height="200"
		labels="[1, 2, 3, 4]"
		values="[[1, 2, 3, 4]]"
                colors='["253,180,92","247,70,74","70,191,189","148,159,177","77,83,96"]'>
    </chart-line>
  </body>
</html>

